/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-template-rows: (1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }
}

.full-width-image-1 {
  display: block;
  width: 100%;
  grid-column: 1/-1;
}

.item1 {
  grid-column: 1/1;
  grid-row: 2/2;
  align-self: auto;
  font-size: 60px;
}

.small-image {
  display: block;
  width: 50%;
  grid-column: 1/1;
  grid-row: 2/2;
  align-item: center;
}

.item2 {
  grid-column: 2/2;
  grid-row: 2/2;
}

.full-width-image-2 {
  display: block;
  width: 100%;
  grid-column: 1/-1;
}

.item3 {
  grid-column: 1/2;
  grid-row: 4/4;
  align-self: center;
}

.item4 {
  grid-column: 2/2;
  grid-row: 4/4;
}

.full-width-image-3 {
  display: block;
  width: 100%;
  grid-column: 1/-1;
}

.item5 {
  grid-column: 1/2;
  grid-row: 6/6;
  align-self: center;
}

.item6 {
  grid-column: 2/2;
  grid-row: 6/6;
}

.full-width-image-4 {
  display: block;
  width: 100%;
  grid-column: 1/-1;
}

.item7 {
  grid-column: 1/2;
  grid-row: 8/8;
  align-self: center;
}

.item8 {
  grid-column: 2/2;
  grid-row: 8/8;
}

.full-width-image-5 {
  display: block;
  width: 100%;
  grid-column: 1/-1;
}

.item9 {
  grid-column: 1/2;
  grid-row: 10/10;
  align-self: center;
}

.item10 {
  grid-column: 2/2;
  grid-row: 10/10;
}
