/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: (1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
  grid-gap: 20px;
}
.full-width-image-1 {
  display: block;
  width: 100%;
}
